<h2>Edit Account</h2>
      <h5>アカウントの編集</h5>
      <%= link_to "ログアウト",destroy_user_session_path, method: :delete, class: 'btn'%>
      <%= link_to "main", :back, class: 'btn'%>
      <%= form_with model: current_user, local: true do |f|%>
        <div class='field'>
          <div class='field label'>
            <%= f.label :name%>
          </div>
          <div class='field input'>
            <%= f.text_field :name, autofocus: true%>
          </div>
        </div>
        <div class='field'>
          <div class='field label'>
            <%= f.label :tel%>
          </div>
          <div class='field input'>
            <%= f.name_field :tel%>
          </div>
        </div>
        <div class='actions'>
          <%= f.submit "Update", class: 'btn'%>
        </div>
      <% end %>
