<h1><%= current_user.name %>さんの勤怠入力画面</h1>

<div class="kintai-main">
  <h2>勤怠情報の入力</h2>

    <%= form_for(@kintaikintai) do |f| %>
    <p>出勤日時入力</p>
      <%= f.datetime_select :sdate %>
      <%= f.submit "出勤時間を入力してクリック" ,class:"btn" %>

    <p>退勤日時入力</p>
      <%= f.datetime_select :tdate %>
      <%= f.submit "退勤時間を入力してクリック" ,class:"btn" %>
    <% end %> 

</div>